.div_fizz
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    font-size: 20px;
    background-color: rgb(82, 82, 135);
}

.p_fizz
{
    text-align: center;
    padding-top: 75px;
}

.div_fizz button
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}