<div class="mt-5">
    <div class="div_fizz" [ngStyle]="{'color': count%15 == 0? 'red' : count%5 == 0? 'yellow' : count%3 == 0? 'lightgreen' : 'white'}" [ngClass]="typo">
        <div *ngIf="isNumber; then numberContent; else stringContent">  
        </div>
        <ng-template #numberContent><p class="p_fizz">{{count}}</p></ng-template>
        <ng-template #stringContent><p class="p_fizz">{{text}}</p></ng-template>

        <div class="d-flex justify-content-between">
            <button class="btn btn-secondary" (click)="moins()" [disabled]="count==0">-</button>
            <button class="btn btn-secondary" (click)="plus()">+</button>    
        </div> 
    </div>
</div>